@import "./common.scss";
$color_orange: #ef723b;

.lk-template {
  border-top: 1px solid #f2f4f7;
  align-items: stretch;
  display: flex;
  // background: #f9fafb;
}

.lk-user__wrapper {
  position: relative;
  background: #f9fafb;
}

.lk-user {
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 30px;
  width: 465px;
  flex-shrink: 0;
  margin-left: auto;
  .user__image {
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='42' height='46' viewBox='0 0 42 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M39 43.25V38.75C39 36.3631 38.0518 34.0739 36.364 32.386C34.6761 30.6982 32.3869 29.75 30 29.75H12C9.61305 29.75 7.32387 30.6982 5.63604 32.386C3.94821 34.0739 3 36.3631 3 38.75V43.25M30 11.75C30 16.7206 25.9706 20.75 21 20.75C16.0294 20.75 12 16.7206 12 11.75C12 6.77944 16.0294 2.75 21 2.75C25.9706 2.75 30 6.77944 30 11.75Z' stroke='white' stroke-width='4.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    border-radius: 14px;
    background-color: #d0d5dd;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .user__image-wrapper {
    width: 120px;
    height: 120px;
    border-radius: 16px;
    border: 4px solid #fff;
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03),
      0px 12px 16px -4px rgba(16, 24, 40, 0.08);
  }
  .user__title {
    color: #101828;
    font-size: 24px;
    font-weight: 500;
  }

  .user__fan-id {
    border-radius: 9px;
    background: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    .fan-id__name {
      color: #ef723b;
      font-size: 16px;
      font-weight: 600;
      line-height: 125%;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .fan-id__value {
      color: #344054;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 125%;
    }
    svg {
      stroke: #ef723b;
    }
  }
  .user__id {
    padding: 24px 0;
    color: #344054;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    border-bottom: 1px solid #eaecf0;
    border-top: 1px solid #eaecf0;
  }

  .info-row {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .info-row__name {
    color: #344054;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    width: 140px;
  }
  .info-row__value {
    color: #101828;
    font-size: 18px;
    font-weight: 500;
    &.socials-list {
      display: flex;
      align-items: center;
      gap: 6px;
      .social-item {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
        img,
        svg {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
        }
      }
    }
  }
  a.info-row__value {
    color: #ef723b;
    text-decoration-line: underline;
  }
  hr {
    width: 100%;
    opacity: 0.2;
  }
}
.lk-content {
  width: 100%;
  padding-right: 30px;
  border-right: 1px solid #eaecf0;
}
.lk-content__tabs {
  .tabs_link_list {
    width: 100%;
    border-bottom: 1px solid #eaecf0;
  }
}

.lk-user__btns {
  display: flex;
  align-items: center;
  gap: 24px;
  .btn {
    font-size: 14px;
  }
}
.btn_some-ghost {
  border: 1px solid #fff7f5;
  background: #fff7f5;
  color: #ef723b;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.education-block__ico {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 20px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='4' y='4' width='48' height='48' rx='24' fill='%23FFE2D5'/%3e%3crect x='4' y='4' width='48' height='48' rx='24' stroke='%23FFF8F4' stroke-width='8'/%3e%3cpath d='M21 30.5V33.5L21.739 33.8695C25.6804 35.8402 30.3196 35.8402 34.261 33.8695L35 33.5V30.5M28 20.5L18 25.5L28 30.5L38 25.5L28 20.5Z' stroke='%23EF723B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M17 31L17.5 29L18 31L17.5 32L17 31Z' stroke='%23EF723B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
}

.user-education-block {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08),
    0px 8px 8px -4px rgba(16, 24, 40, 0.03);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  &.passed {
    .education-block__ico {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='4' y='4' width='48' height='48' rx='24' fill='%23D1FADF'/%3e%3crect x='4' y='4' width='48' height='48' rx='24' stroke='%23ECFDF3' stroke-width='8'/%3e%3cpath d='M21 30.5V33.5L21.739 33.8695C25.6804 35.8402 30.3196 35.8402 34.261 33.8695L35 33.5V30.5M28 20.5L18 25.5L28 30.5L38 25.5L28 20.5Z' stroke='%23148D4E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M17 31L17.5 29L18 31L17.5 32L17 31Z' stroke='%23148D4E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
    }
  }
}

.education-block__title {
  color: #101828;
  font-size: 18px;
  font-weight: 600;
}

.education-block__wrapper {
  display: flex;
  align-items: center;
}

.tabs_link_item {
  &.router-link-active {
    border-bottom-color: $color_orange;
    color: $color_orange;
  }
}

.calendar-events__list {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  gap: 30px;
}

.event-block {
  width: 100%;
  border-radius: 16px;
  border: 1px solid #d0d5dd;
  background: #f9fafb;
  padding: 24px;

  .events_item_list {
    margin: 32px 0;
  }
  .events_item_btns {
    padding: 0;
  }
  .event-block__nameplates {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-shrink: 0;
  }
}

.event-block__wrapper {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.event-block__title {
  margin-bottom: 8px;
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 133%; /* 133.333% */
}

.categories_col {
  position: relative;

  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    margin: 0;
    cursor: pointer;

    &:checked ~ .categories_item {
      border-color: $color_orange;
      background: #fff6f1;

      .categories_item_dot {
        border-color: $color_orange;
        background-color: $color_orange;
      }
    }
  }
}

.notif-link {
  .tabs_link_item {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }
}
.notif-link__count {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ef723b;
  color: #fcfcfd;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.events_item .item_img {
  background: #f9fafb;
}
